{% extends "header.html" %}
{% block header %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/img_5597.webp') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>OUR PHOTO GARLLERY</h1>
            <span class="subheading">steaks live jazz and cocktails everynight</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<section id="photos">
    <img src= {{ url_for( 'static' , filename='img/bridge.jpg') }}  alt="the frontof the reesturant">
    <img src={{ url_for( 'static' , filename='img/champ.jpg') }} alt="three girls at charity pain running festival ">
    <img src={{ url_for( 'static' , filename='img/cocktails.jpg') }} alt="solo man running on a beach">
    <img src={{ url_for( 'static' , filename='img/img_5597.webp') }} alt="tman at charity paint running festival">
    <img src={{ url_for( 'static' , filename='img/music.jpg') }} alt="solo female runner jogging through pheonix park ">
    <img src={{ url_for( 'static' , filename='img/steak_and_chips.jpg') }} alt="runners compeating in marathon">
    <img src={{ url_for( 'static' , filename='img/the_big_one.jpg') }} alt="solo female runner jogging on a beach">
    <img src={{ url_for( 'static' , filename='img/cocktails2.jpg') }} alt="large group of people running ">
    <img src={{ url_for( 'static' , filename='img/upstairs.jpg') }} alt="people running in the mud">

</section>
{% endblock %}    
    
